/* ====================== Actay (Regular) ====================== */
@font-face {
    font-family: "Actay";
    src: local("Actay"), url("/public/fonts/Actay.woff2") format("woff2"),
        url("/public/fonts/Actay.woff") format("woff"),
        url("/public/fonts/Actay.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* ====================== Actay Wide ====================== */
@font-face {
    font-family: "Actay Wide";
    src: local("Actay Wide"),
        url("/public/fonts/ActayWide.woff2") format("woff2"),
        url("/public/fonts/ActayWide.woff") format("woff"),
        url("/public/fonts/ActayWide.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ====================== Oswald ====================== */
@font-face {
    font-family: "Oswald";
    src: local("Oswald"), url("/public/fonts/Oswald.woff2") format("woff2"),
        url("/public/fonts/Oswald.woff") format("woff"),
        url("/public/fonts/Oswald.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
